.contact_heading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100;
    height: 100%;
    padding: 5rem 0;
    background-image: linear-gradient(
      to right top,
      #292546,
      #262242,
      #231f3f,
      #211d3b,
      #1e1a38,
      #211939,
      #231839,
      #261739,
      #2f173c,
      #38173f,
      #411640,
      #4a1541
    );
}
.contact_heading h1, .contact_heading h2, .contact_heading p{
    color: #fff;
}
.contact_heading h1{
    font-size: 50px;
}
.contact_heading h1 span{
    font-weight: 800;
}
.contact_heading h2{
    font-size: 34px;
    color:  #bf96f8;
}
.contact_heading p{
    line-height: 2;
    margin: 1rem 0;
}
.contact__address{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5rem;
    margin-top: 3rem;
}
.contact__address-name{
    border-left: 1px solid #bf96f8;
    border-right: 1px solid #bf96f8;
}
.contact__address-name p{
   margin: 0 0.5rem;
}
.contact__form-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact__form{
    margin-top: 2rem;
    width: 24rem;
    height: 30rem;
    background: #50324b;
    padding: 0 2rem !important;
    border-radius: 10px;


}
.social__icons{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.social__icons a{
    text-decoration: none;
  color: #1e1a38;
  font-size: 20px;
  background: #ed94fe;
  padding: 0 .5rem .35rem .5rem;
  border-radius: 50px;
}

@media (max-width: 767px) {
    .contact__address{
        flex-direction: column;
        padding-right: 0;
    }
}